.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    gap: 20px;
}

.containerItems{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 87vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.items{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 87vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}